<html lang="en">
  <head>
    <title>Simple AI Demo with Web Speech API</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <section>
      <h1>Simple AI Chatbot Bot</h1>
      <h2>Using Web Speech API And Dialogflow</h2>

      <div>
        
          <span id="speak" onmousedown="mouseDown()" onmouseup="mouseUp()"><i class="fa fa-microphone" aria-hidden="true"></i></span>

          <form>
              <input type="text" id="m" autocomplete="off" placeholder="Say or type something..."/><button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </form>
          <p><em id="output-bot">...</em></p>
      </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
